@use 'abstracts' as *;

.contact{
    padding: 60px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;

    border-bottom: solid $secondary 12px;

    :last-child{
        margin-top: 12px;
    }
}
