@use 'abstracts' as *;

@media (max-width: 1360px) {
    .heroSection h1 br{
        display: none;
    }
}

@media (max-width: 1050px) {
    .heroSection p{
        width: 75%;
    }

    .card{
        padding: 30px 56px 42px;
    }
    .cards{
        grid-template-columns: repeat(1, minmax(240px, 1fr));
    }

    .card--fullWidth{
        padding: 30px 56px 42px !important;
    }
}

@media (max-width: 770px) {
    header{
        margin: 30px;
        .logo{
            background-size: 120px 21px;
            width: 120px;
            height: 21px;
        }

        .btn{
            padding: 10px 12px;
            font-size: 14px;
        }
    }

    .cards{
        margin: 96px 30px;
        .card{
            padding-left: 28px !important;
            padding-right: 28px !important;
        }
        .card .card__text{
            font-size: 16px;
        }
    }
    h3{
        font-size: 24px;
    }

    h1{
        font-size: 42px;
    }
    .heroSection p{
        width: 65%;
    }

    h2{
        font-size: 32px;
    }

    .body{
        font-size: 20px;
    }

    .about{
        p{
            width: fit-content;
            margin: 30px;
        }
        .member .member__img{
            height: 50vw;
        }
        .member .member__details{
            span{
                font-size: 14px;
            }
            q{
                font-size: 16px;
            }
        }
    } 
}