@use 'abstracts' as *;

@use 'components/card';
@use 'components/header';
@use 'components/button';
@use 'components/hero';
@use 'components/about';
@use 'components/contact';
@use 'components/mediaqueries';

body{
    background-color: $bg-color;
    background-image: url(/assets/images/pattern-1.png);
    background-repeat: no-repeat;
    background-size: 750px;
    background-position: right top;
}